.aged {
    color: #926247;
    font-size: 12px;
    font-family: Urbanist;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.20px;
    word-wrap: break-word;
}

.aged-container {
    width: 331px;
    height: 34px;
    background-color: #E8DDD9;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 100px;
    margin-bottom: 20px;
}

.ai-chat {
    width: 343px;
    height: 489px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    margin: auto auto;
}

.aside-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside-w1 {
    width: 136px;
    height: 64px;
}

.aside-w1 div,
.arrow {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside-w1 div:hover,
.aside-w1 div:focus {
    cursor: pointer;
}

.aside-w2 {
    width: 66px;
    height: 22px;
}

.arrow {
    width: 48px;
    height: 48px;
}

.button {
    font-size: 18px;
    font-family: Urbanist;
    font-weight: 700;
    word-wrap: break-word;
    border-radius: 100px;
    width: 343px;
    height: 64px;
}

.button:hover,
.button:focus {
    cursor: pointer;
}

.button1 {
    color: #4B3425;
    border: 2px #4B3425 solid;
    background-color: white;
}

.button2 {
    color: #FFFFFF;
    background-color: #9BB068;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px #9BB068 solid;
    padding: 8px;

}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 136px;
}

.chat {
    color: #FE814B;
    font-size: 48px;
    font-family: Urbanist;
    font-weight: 700;
    line-height: 56px;
    word-wrap: break-word;
    margin: 0px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
}

.desktop {
    display: none;
}

.disp {
    height: 212px;
    /* width: 343px; */
    background-color: #4B3425;
    border-radius: 100px;

}

.dot {
    width: 12px;
    height: 12px;
    background: #926247;
    border-radius: 100%;
}

.empathy {
    text-align: center;
    width:  343px;
    color: #4B3425;
    font-size: 48px;
    font-family: Urbanist;
    font-weight: 700;
    line-height: 56px;
    word-wrap: break-word;
    margin: 0px;
}

.images {
    width: 343px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.marker {
    position: relative;
    bottom: 22px;
    z-index: -1;
    left: 0px;
}

.menu {
    color: #4B3425;
    font-size: 18px;
    font-family: Urbanist;
    font-weight: 600;
    word-wrap: break-word;
}

.mobile {
    display: flex;
}

.navigation {
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 343px;
    height: 64px;
    background-color: #F7F4F2;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto auto;
}

.para {
    color: rgba(31, 22, 15, 0.64);
    font-size: 18px;
    font-family: Urbanist;
    font-weight: 500;
    line-height: 28.80px;
    word-wrap: break-word;
    height: 87px;
    text-align: center;
}

.shade {
    position: relative;
    z-index: 1;
    bottom: 64px;
    width: 375px;
    height: 64px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 100%);
}
@media (min-width: 481px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 1023px) {

    .ai-chat {
        width: 458px;
        height: 522px;
        align-items: flex-start;
        margin: 0px;
    }

    .aside-flex {
        justify-content: space-between;
        align-items: center;
    }

    .aside-w2 {
        width: 107px;
    }

    .bottom-sub {
        width: 100%;
        height: 212px;
        border-radius: 50px;
        background-color: #4B3425;
        color: #926247;
    }

    .button1 {
        width: 141px;
        margin-right: 8px;
    }

    .buttons {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 64px;
        margin-top: 24px;
    }

    .chat {
        font-size: 72px;
        line-height: 80px;
    }

    .container {
        width: 458px;
    }

    .desktop {
        display: flex;
    }

    .empathy {
        text-align: left;
    }

    /* .images {
        max-width: 500px;
        max-height: 522px;
    } */

    .main {
        flex-direction: row;
        box-sizing: content-box;
        padding-left: 70px;
        padding-top: 70px;
    }

    .mobile {
        display: none !important;
    }

    .navigation {
        width: 1330px;
        height: 80px;
    }

    .para {
        text-align: left;
        height: 64px;
    }

    .shade {
        top: 1200px;
        width: 1440px;
        height: 99px;
    }

    .space {
        position: relative;
        right: 450px;
        bottom: 150px;
        z-index: -1;
    }
}

@media (min-width: 1024px) {

    .ai-chat {
        width: 458px;
        height: 522px;
        align-items: flex-start;
        margin: 0px;
    }

    .aside-flex {
        justify-content: space-between;
        align-items: center;
    }

    .aside-w2 {
        width: 107px;
    }

    .bottom-sub {
        width: 100%;
        height: 212px;
        border-radius: 50px;
        background-color: #4B3425;
        color: #926247;
    }

    .button1 {
        width: 141px;
        margin-right: 8px;
    }

    .button2 {
        width: 256px;
    }

    .buttons {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 64px;
        margin-top: 48px;

    }

    .chat {
        font-size: 72px;
        line-height: 80px;
    }

    .container {
        width: 458px;
    }

    .desktop {
        display: flex;
    }

    .empathy {
        text-align: left;
    }

    /* .images {
        max-width: 500px;
        max-height: 522px;
    } */

    .main {
        flex-direction: row;
        box-sizing: content-box;
        padding-left: 40px;
        padding-top: 40px;
    }

    .mobile {
        display: none !important;
    }

    .navigation {
        width: 1330px;
        height: 80px;
    }

    .para {
        text-align: left;
        height: 64px;
    }

    .shade {
        right: 450px;
        bottom: 240px;
        width: 790px;
        height: 99px;
    }

    .space {
        position: relative;
        right: 700px;
        bottom: 150px;
        z-index: -1;
    }
}